*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  font-weight: bolder;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  text-shadow: 3px 3px #191923;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}


h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 .5em 0;
  padding: .25rem;
  text-align: center;
}

h3 {
    font-size: 2.25em;
    margin: .25em 0 1em 0;
    padding: .5em;
}

h5 {
  font-size: 2rem;
}


ul {
  list-style: none outside none;
}

ol {
  list-style: circle;
}

.about-arrow {
  color: #BF1363;
  font-size: 2.25rem;
}


#contain_all {
  width: 90vw;
  margin: 0 5% 0 5%;
  height: auto;
}

.no-border {
  border: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;
  outline: none !important;
}

.font-universal {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-body {
padding: 0;
}


/* Navbar Start */

.navbar-position-fixed {
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.navbar-size {
  width: 50px; 
  height: 50px;
}

.navbar-bg {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(25, 29, 50, 1));
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none
}

.tv-icon {
  margin: 0 1em;
}

/* Navbar End */



/* Title Start */

.bg-title {
  background-image:  linear-gradient(to top, rgba(255, 255, 255, .2), rgba(25, 29, 50, 2)), url('../images/hawaii.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Title End */


/* About Section Start */

.about-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.about-body-style {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: .5em 0 .5em .5em;
}

.about-icon {
  color: #17A2B8;
  font-size: 5rem;
  display: flex;
  justify-content: center;
}

/* About Section End */

/* Resume Section Start */


.badge-style {
  height: 100px;
  width: 100px;
}

/* Resume Section start */


/* Contact Section Start */

.row-social {
  width: 100%;
  padding: .5rem;
  margin: .5rem;
}

.col-social {
  padding: 1rem .75rem;
  margin: 0;
}

.social {
  margin: 0;
  padding: .3125rem;
  overflow: hidden;
  text-decoration: none;
}

.social i {
  width: 4.3rem;
  height: 4.3rem;
  color: #FBFEF9;
  background-color: #909AA0;
  font-size: 3rem;
  text-align:center;
  padding-top: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: .625rem;
  display: flex;
  justify-content: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}


.social i:hover {
  color: #FBFEF9;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

/* Social Buttons start */

.social .fa-twitter:hover { 
  background: #00ABE3;
  text-decoration:none;
} /* round twitter icon*/

.social .fa-github:hover { 
  background: #343434;
  text-decoration:none;
} /* round github icon*/

.social .fa-linkedin-in:hover { 
  background: #0094BC;
  text-decoration:none;
} /* round linkedin icon*/

.social .fa-stack-overflow:hover { 
  background: #FEA501;
  text-decoration:none;
} /* round stack overflow icon*/

.social .fa-envelope-open-text:hover { 
  background: #BF1363;
  text-decoration:none;
} /* round envelope icon*/

.social .fa-youtube:hover { 
  background: #FF1F25;
} /* round youtube icon*/

/* Social Buttons End */

/* Contact Section End */



/* Footer Section Start */

.end .footer-hov:hover {
  color: #BF1363;
  text-decoration: none;
}

.end .footer-hov-bg:hover {
  background-color:  #BF1363;
  text-decoration: none;
}

/* Footer Section End */




/* links start */

a {
  color: #191D32;
  text-decoration: none;
}

a:hover {
  color: #BF1363;
  text-decoration: none;
}

a:active {
  color: #17A2B8;
}

.btn-color {
  color: #17A2B8;
  text-decoration: none;
}

.btn-color:hover {
  color: #BF1363;
  text-decoration: none;
}

.btn-color:active {
  color: #17A2B8;
  text-decoration: none;
}

.email-link-color {
  color: #17A2B8;
}

/* links end */



/* Buttons Start */
.btn-main {
  margin: 1rem;
  padding: .5rem 2rem;
  color: #FBFEF9;
}

.btn-main-rose {
  padding: 1rem 5rem;
  font-size: 1.25rem;
}


.btn-main:hover {
  background-color: #191D32;
  color: #FBFEF9;
}

.btn-main-rose:hover {
  background-color: #BF1363;
  color: #FBFEF9;
}

/* Buttons End */


/* Background Colors Start */
.bg-color-teal {
  background-color: #17A2B8;
}

.bg-color-transparent {
background-color: transparent;
}

.bg-color-rosered {
background-color: #BF1363;
}

.bg-color-white {
background-color: #fff;
}

.bg-color-babypowder {
background-color: #FBFEF9;
}

.bg-color-gunmetal{
background-color: #191D32;
}

/* Background Colors End */



/* Text Colors Start */
.text-color-teal{
color: #17A2B8;
}

.text-color-rosered {
color: #BF1363;
}

.text-color-gunmetal {
  color: #191D32;
}

.text-color-babypowder {
color: #FBFEF9;
}
/* Text Colors End */



/* Media Quries */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

  .parallax {
    /* The image used */
    background-image: url('../images/TVQuoteXS.png');
  
    /* Set a specific height */
    height: 600px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.parallax2 {
  /* The image used */
  background-image: url('../images/sailboatretro22EX6.png');

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .navbar-btn {
    margin-right: 1.25rem;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  


.parallax {
  /* The image used */
  background-image: url('../images/TVQuoteSmaller.png');

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax2 {
  /* The image used */
  background-image: url('../images/sailboatretro22EX6.png');

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .navbar-btn {
    margin-right: 1.25rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

.parallax {
  /* The image used */
  background-image: url('../images/TVQuoteSmall.png');

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax2 {
  /* The image used */
  background-image: url('../images/sailboatretro25Large.png');

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .navbar-btn {
    margin-right: 1.25rem;
  }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {


.parallax {
  /* The image used */
  background-image: url('../images/TVQuoteLarge.png');

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax2 {
  /* The image used */
  background-image: url('../images/sailboatretro25Large.png');

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .navbar-btn {
    margin-right: .75rem;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.parallax {
  /* The image used */
  background-image: url('../images/TVQuote.png');

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax2 {
  /* The image used */
  background-image: url('../images/sailboatretro25Large.png');

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



  .navbar-btn {
    margin-right: 2rem;
  }


}